:root {
  --main-text-color: rgba(41, 41, 41, 1);
  --footer-text-color: rgba(255, 255, 255, 1);
  --font-family: Arial, Helvetica, sans-serif;
  --footer-font-size: 50px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 12fr 1fr;

  @media (min-width:750px) and (max-width:1200px) {
    grid-template-rows: 1fr 15fr 1fr;
  }
}

.container {
  margin: 0 10%;
}

.header {
  display: grid;
  align-items: center;
  color: var(--main-text-color);
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 20px;
  justify-content: space-between;

  @media (min-width:750px) and (max-width:1200px) {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}

.main__text {
  line-height: 32px;
  font-size: 21px;
  color: var(--main-text-color);
  font-kerning: auto;
  letter-spacing: -0.003em;
  word-break: break-word;
  margin-bottom: 1em;
}

.main__link {
  text-decoration: none;
}

.photo {
  text-align: center;
  figcaption {
    color: var(--main-text-color);
    line-height: 25px;
    font-size: 16px;
  }
}

.photo__img {
  max-height: 300px;

  @media (min-width:750px) and (max-width:1200px) {
    max-height: 100%;
  }
}

.nav__heading {
  margin-bottom: 20px;
}

.nav__list {
  list-style: none;

  @media (min-width:750px) and (max-width:1200px) {
    margin-bottom: 10em;
    li {
      margin-bottom: 20px;
    }
  }
}

.nav__item {
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 20px;
  line-height: 32px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(2, 2, 2, 1);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--footer-text-color);
  font-size: 20px;

  @media (min-width:750px) and (max-width:1200px) {
    font-size: var(--footer-font-size);
  }
}

.social {
  margin-right: 10%;
  width: 80px;
  display: flex;
  justify-content: space-between;

  @media (min-width:750px) and (max-width:1200px) {
    font-size: var(--footer-font-size);
    width: 200px;
  }
}

.social-link {
  color: var(--footer-text-color);
}