doctype html
html(lang="ru")
  head
    title About Sergey Chivirda
    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="styles/style.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous")
    script(type="application/ld+json")
      include ../schema/schema.json
  body
    header.header.container
      h1 Сергей Чивирда
    .wrapper.container
      .photo
        figure
          img(src="images/photo.jpg", alt="Моё фото" class="photo__img")
          figcaption Моё свежее фото
      article.main
        p.main__text Меня зовут 
          strong Сергей Чивирда. 
          | Мне 29 лет. В 2016 году я закончил Северный (Арктический) федеральный университет имени М.В. Ломоносова. По специальности "Информационные системы и технологии".
        p.main__text Своё знакомство с вебом начал с курса школы 
          a(href="https://highlights.guru/" class="main__link" target="_blank") Highlights
          |. К сожалению, диплом о прохождении курса по web-дизайну я не получил. Так как не сдал выпускную работу. 
        p.main__text В дальнейшем я работал в 2 студиях по нескольку месяцев. В итоге ушёл с мыслью о том, что это "не моё". В настоящее время работаю инженером отдела продаж. Много узнал об "электрике". Ещё больше о продажах юрлицам. 
        p.main__text Сейчас всё свободное время трачу на изучение Frontend разработки. В моём репозитории на Github есть проекты на чистом JS, Vue и на React.
      nav
        h3.nav__heading Мои любимые фильмы
        - 
          var filmList = [
            {
              name: 'Джентльмены',
              year: 2019,
              url: 'https://www.kinopoisk.ru/film/1143242/'
            },
            {
              name: 'Хулиганы',
              year: 2005,
              url: 'https://www.kinopoisk.ru/film/77444/'
            },
            {
              name: 'Побег из Шоушенка',
              year: 1994,
              url: 'https://www.kinopoisk.ru/film/326/'
            },
            {
              name: 'Начало',
              year: 2010,
              url: 'https://www.kinopoisk.ru/film/447301/'
            },
            {
              name: 'Бойцовский клуб',
              year: 1999,
              url: 'https://www.kinopoisk.ru/film/361/'
            }
          ]

        ul.nav__list
          each film in filmList
            a(href= film.url target="_blank" class="nav__item")
              li= film.name + ', ' + film.year + ' г.'
    footer.footer
      .container
        |&copy; 2020 Sergey Chivirda
      .social
        a(href="https://github.com/Chivirda" target="_blank" class="social-link")
          i(class="fab fa-github")
        a(href="https://www.instagram.com/chivirda/" target="_blank" class="social-link")
          i(class="fab fa-instagram")
        a(href="https://vk.com/sichivirda" target="_blank" class="social-link")
          i(class="fab fa-vk")